* {
    box-sizing: border-box
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cutive', serif;
    font-size: 14px;

}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
    margin-bottom: 15px;
}

div.input-wrapper {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 150px;
    height: 35px;
    border: 2px grey solid;
    border-radius: 5px;
    font-family: 'Cutive', serif;
    text-align: center;

}

button {
    width: auto;
    height: 35px;
    border-radius: 5px;
    border: 1px black solid;
    background: black;
    color: white;
    font-family: 'Cutive', serif;
    padding: 0px 15px 0px 15px;
}

div.poem-wrapper {
    width: 600px;
    height: 600px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}